{%extends 'base.html'%}
{% block header %}  
 
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <h1>Contact App for y'all</h1>
             {% for user in client%}
                  <p>username: {{user.client_username}}</p>
                  
                {% endfor %}
        </div>
        <div class="col-md-2"></div>
    </div>

    <div class="row">
        <div class="col-md"></div>
        <div class="col-8 ">
            {% if request.session.username%}
               <a href="{% url 'addContact' %}"><div class="btn  btn-lg btn-primary ">Add contacts</div></a>
               <a href="{% url 'logout' %}"><div class="btn  btn-primary btn-lg">Logout</div></a>
            {% else %}
                <a href="login"><div class="btn  btn-lg btn-primary ">SignIn</div></a>
                <a href="register"><div class="btn  btn-primary btn-lg">Sign up</div></a>
            {% endif %}
        </div>
        <div class="col-md"></div>
        </div>
    </div>
   
 </div>
{% endblock   %}  



  


 




